<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <img src="../assets/icon/lincar.jpg" class="example-header-image"/>
      </div>
      <mat-card-title>Cadastro de Varial</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
  
      <form class="example-form">
  
        <div class="row">
        
          <mat-form-field  class="example-full-width" appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Digite o nome">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        </div>
    
        <div class="row">
          <mat-form-field  class="example-full-width" appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select>
                <mat-option value="option1">Texto</mat-option>
                <mat-option value="option3">Monetario</mat-option>
              </mat-select>
          </mat-form-field>
  
        </div>
        
        <div class="row">
    
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Mascara</mat-label>
            <input matInput placeholder="Insira a Mascara">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>

        </div>
    
      </form>
  
  
  
    </mat-card-content>
  
    <mat-card-actions>
      <button mat-raised-button id="confirm" >Cadastrar</button>
      <button mat-raised-button id="cancel" >Cancelar</button>
    </mat-card-actions>
  
  </mat-card> 