
.example-form {
  height: 350px;
  width: 100%;
  
}

.custom-width{
  width:35%;
}


/**
*Css referente as Tabs
*/

.example-small-box, .example-large-box {
   
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    .row{
      margin-top: 2%;
    }
    overflow: auto;
    height: 450px;
    width: 80;
  }


  .example-card {
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  

  fieldset{
    overflow: auto;
    margin-top: 0%;
    width: 80%;
    height: 150px;
    border-radius: 10px;
  }

  .fieldset{
    
    margin-left: 45px;
    margin-right: 45px;
 
  }
  
  .example-medio-width{
    margin: 0;
    width: 50%;
    margin-right: 2%;
    margin-left: 5%;
  }

  .custom-full-width{
    margin: 0;
    width: 60%;
    margin-right: 2%;
    margin-left: 5%;
  }

  
.medio-width{
  float: right;
  margin-right: 5%;
  width: 35%;
}


.grid-body{
  height: calc(150px) !important;
}

mat-grid-list{
  height: 270px  !important;
}



.row-buttonList{
  button{
    min-width:0  !important;
    line-height: 46px;
    padding-left: 1 !important;
  }
  position: absolute;
  width: 30px;
  right: 0;
  margin-right: 2%;
}

mat-list-option button{
  position: absolute;
  right: 0;
  line-height: 20px;
  min-width: 10% !important;
}

mat-accordion{
  margin-top: 0%;
  width: 100%;
}