<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar>
      <img src="../assets/icon/lincar.jpg" class="example-header-image"/>
    </div>
    <mat-card-title>Cadastro de Modelo</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <form class="example-form" [hidden]="status" [formGroup]="formModel">

      <div class="row">
        <mat-form-field class="example-medio-width" appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Digite o nome do Modelo">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field class="medio-width" appearance="outline">
          <mat-label>Tipo de Documento</mat-label>
          <mat-select>
            <mat-option value="option1">Contrato 1 </mat-option>
            <mat-option value="option3">Contrato 2 </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-grid-list cols="2" rowHeight="100px">

          <mat-grid-tile>
            <mat-form-field class="custom-width" appearance="outline">
              <mat-label>Incluir Sessão</mat-label>
              <input matInput placeholder="Digite o nome da Sessão" formControlName="sessao">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
            <button mat-button (click)="incluirSessao()" [disabled]="formModel.controls.sessao.value ==''">
              <mat-icon>add_box</mat-icon>
            </button>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="custom-width" appearance="outline">
              <mat-label>Incluir Variavel</mat-label>
              <input matInput placeholder="Inclua a Variavel" formControlName="variavel">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
            <button mat-button (click)="incluirVariavel()" [disabled]="formModel.controls.variavel.value ==''">
              <mat-icon>add_box</mat-icon>
            </button>
          </mat-grid-tile>

          <mat-grid-tile class="grid-body">
            <fieldset>
              <legend>Sessões:</legend>
              <mat-selection-list #shoes [multiple]="false">
                <mat-list-option *ngFor="let sessao of arraySessao; let i = index" [value]="i">
                  {{sessao.nome}} <button mat-button (click)="removerSessao(i)"><i class="fas fa-trash"></i></button>
                </mat-list-option>

              </mat-selection-list>
            </fieldset>

          </mat-grid-tile>

          <mat-grid-tile class="grid-body">
            <fieldset>
              <legend>Variavel:</legend>
              <mat-selection-list #shoes [multiple]="false">
                <mat-list-option *ngFor="let variavel of arrayVariavel; let i = index" [value]="i">
                  {{variavel}} <button mat-button (click)="removerVariavel(i)"><i class="fas fa-trash"></i></button>
                </mat-list-option>
              </mat-selection-list>
            </fieldset>

          </mat-grid-tile>
        </mat-grid-list>
      </div>

    </form>

    <div [hidden]="!status">
      <mat-tab-group dynamicHeight>
        <mat-tab label="{{sessao.nome}}" *ngFor="let sessao of arraySessao; let i = index">
 
          <div class="row">

            <div class="row" style="text-align: center;">

              <button mat-button matTooltip="Inclusão de paragrafo" (click)="inserirParagrafo(sessao.nome)"><i class="fas fa-align-left"></i></button>
              <button mat-button matTooltip="Inclusão de Clausula" (click)="inserirClausula(sessao.nome)"><i class="fas fa-file-alt"></i></button>
              <button mat-button matTooltip="Inclusão de Variavel"><i class="fas fa-underline"></i></button>

            </div>

            <div class="example-large-box mat-elevation-z4">
              <div class="row">
                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Painel de Clausulas
                      </mat-panel-title>
                      <mat-panel-description>
                        Visualização {{panelOpenState ? 'open' : 'closed'}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row" *ngFor="let clausula of sessao.clausula_Sessao_Modelos; let i = index">
                      <app-tamplet [clausula]="clausula" [tipo]="2"></app-tamplet>
                      <button mat-icon-button>
                        <mat-icon>create</mat-icon>
                      </button>
                      <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button mat-icon-button>
                        <mat-icon>file_copy</mat-icon>
                      </button>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>

              <div class="row">
                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Painel de Paragrafos
                      </mat-panel-title>
                      <mat-panel-description>
                        Visualização {{panelOpenState ? 'open' : 'closed'}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row" *ngFor="let item of sessao.paragrafo_Sessao_Modelos; let i = index">
                      <app-tamplet [paragrafo]="item.descricao" [tipo]="1"></app-tamplet>
                      <button mat-icon-button matTooltip="Editar Paragrafo" >
                        <mat-icon>create</mat-icon >
                      </button>
                      <button mat-icon-button matTooltip="Excluir Paragrafo" >
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button mat-icon-button matTooltip="Copiar Paragrafo" >
                        <mat-icon>file_copy</mat-icon>
                      </button>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>

              <div class="row">
                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Painel de Variáveis
                      </mat-panel-title>
                      <mat-panel-description>
                        Visualização {{panelOpenState ? 'open' : 'closed'}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row" *ngFor="let item of sessao.paragrafo_Sessao_Modelos; let i = index">
                      <app-tamplet [paragrafo]="item.descricao" [tipo]="1"></app-tamplet>
                      <button mat-icon-button matTooltip="Editar Paragrafo" >
                        <mat-icon>create</mat-icon >
                      </button>
                      <button mat-icon-button matTooltip="Excluir Paragrafo" >
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button mat-icon-button matTooltip="Copiar Paragrafo" >
                        <mat-icon>file_copy</mat-icon>
                      </button>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>

            </div>

          </div>

        </mat-tab>
      </mat-tab-group>
    </div>
    
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button id="confirm" (click)="gerarModelo()">{{ status == false ? 'Gerar Modelo' : 'Gravar
      Modelo'}}</button>
    <button mat-raised-button id="cancel" (click)="CancelarModelo()">{{ status == false ? 'Cancelar' :
      'Voltar'}}</button>
  </mat-card-actions>

</mat-card>