<h1 mat-dialog-title>Inclusão de Paragrafo</h1>

<div class="row">
  <mat-form-field class="example-medio-width" appearance="outline">
    <mat-label>Choose an option</mat-label>
    <mat-select [formControl]="toppings" multiple>
      <mat-select-trigger>
        <span *ngIf="toppings.value?.length >= 1" class="example-additional-selection">
          Variaveis Escolhidas (+{{toppings.value.length}} {{toppings.value?.length === 2 ? 'Variaveis' :
          'Clausula'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let variavel of arrayVariavel" [value]="variavel">{{variavel.Nome}}</mat-option>
    </mat-select>


  </mat-form-field>
  <button mat-button (click)="incluirVariavel(toppings.value)">
    <mat-icon>add_box</mat-icon>
  </button>

</div>
<div mat-dialog-actions>
  <button mat-button id="confirm" [mat-dialog-close]="data">Gravar</button>
  <button mat-button id="cancel" (click)="onNoClick()">Cancaler</button>
</div>