.example-card {
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


  mat-card-content {
      padding-top: 5%;
      margin-bottom: 5%;

  }


  .example-form {
    width: 100%;
    
  }
  
  .custom-width{
      width:35%;
  }