<div class="body-card">
  
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar>
      <img src="../assets/icon/lincar.jpg" class="example-header-image"/>
    </div>
    <mat-card-title>Tela de Login</mat-card-title>
    
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="formLogin">

      <div class="row">
        <i class="material-icons prefix">account_box</i>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Usuario de Acesso</mat-label>
          <input matInput placeholder="Nome de Usuario" formcontrolname="username">
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        </mat-form-field>
      </div>
      <div  class="row">
        <i class="material-icons prefix">vpn_key</i>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Senha de Acesso</mat-label>
          <input matInput type="password" placeholder="Sua Senha" formcontrolname="password">
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
  
        </mat-form-field>
      </div>

    </form>


  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button id="confirm" (click)="submit()">Logar</button>
    <button mat-raised-button id="cancel" >Sair</button>
  </mat-card-actions>
</mat-card>

</div>