.body-card{
padding-left: 30%;
padding-top: 10%;
}

.example-card {
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
  
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


mat-card-content{
  margin-top: 10%;
  margin-bottom: 10%;
  .row i{
    margin-right: 5%;
  }
}

.example-full-width {
  width: 70%;
}
