/*
*Top Nav
*/

  mat-drawer{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background: #1B94C9;
 //   padding: 6px 14px;
    transition: all 0.5s ease;
    overflow: hidden;
  }

  mat-drawer .HeaderContent{
  //  border: 1px solid black;
  }

  mat-drawer .HeaderContent .bloco_logo {
    img{
      display: flex;
      height: 80px;
      width: 35%;
      left: 33%;
    }
    display: flex;
    width: 100%;
    height: 80px;
    margin-top: 5%;

  }

  .HeaderContent .HeaderName {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 16%;
    text-align: center;
    font-size: 15px;
    color: #fff;
    padding-bottom: 2%;
    box-shadow: rgb(38, 57, 77) 0px 12px 10px -9px;
  }

  // .HeaderContent .HeaderName:hover{
  //   box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  // }



  // mat-drawer #btn{
  //   position: absolute;
  //   color: #fff;
  //   left: 90%;
  // //  top: 6px;
  //   font-size: 20px;
  //   width: 50px;
  //   height: 50px;
  //   text-align: center;
  //   line-height: 25px;
  //   transform: translateX(-50%);
  // }






  /**
  * Body Nav
  **/

  mat-drawer .menu{
    width: 100%;
    margin-top: 60px;
    
  //  border: 1px solid green;
  }

  mat-drawer .menu .item{
    
  //  border: 1px solid orange;
    position: relative;
    margin-bottom: 2%;
    cursor: pointer;
  }
  
  mat-drawer .menu .item a{
    border: 1px solid black;
    color: #fff;
    font-size: 12px;
    text-decoration:  none;
    display: block;
    padding: 5px 30px;
    line-height: 30px;
  }

  mat-drawer .menu .item a:hover{

    background: rgb(255, 255, 255,0.1);
    transition: 0.4s ease;
  }

  mat-drawer .menu .item i{
    color: rgb(4, 4, 4);
    line-height: 30px;
    font-size: 25px;
    border: 1px solid orange;
    margin-right: 15px;
  }

  // mat-drawer .menu .item a .dropdown{
  //   font-size: 15px;
  //   position: absolute;
  //   right: 0;
  //   margin: 20px;
  //   transition: 0.3s ease;
  // }

  // mat-drawer .menu .item .sub-menu {
  //  // border: 1px solid black;
  //   background: rgba(18, 20, 21, 0.1);
  //   display: none;
  
  // }

//   mat-drawer .menu .item .sub-menu a {
//     text-align: left;
//     margin: 0;
//     padding: 0;
// //    border: 1px solid black;
//     padding-left: 60px;
//     font-size: 12px;
//   }

//   mat-drawer .menu .item .sub-menu.active{
//     transition: 0.3s ease;
//     opacity: 1;
//     display: block

//   }


  // .rotate{
  //   transform: rotate(90deg);
  // }



  /***
  *Function
  */


  .block_navBar{
    filter: blur(2px);
    display: block;
    pointer-events: none;
  }