<mat-drawer-container class="example-container">
  
  <mat-drawer mode="side" opened id="sidebar" [ngClass]="{'block_navBar': funcRotLogin() == true }">

    <div class="HeaderContent">
      <div class="bloco_logo">
        <img src="../assets/icon/lincar.jpg" class="example-header-image"/>
      </div>
      <div class="HeaderName">Sistema De Contratos</div>
      <!-- <i class='bx bx-menu' id="btn"></i>  -->
    </div>

    <div class="menu">
      <!-- <div class="item">
        <a class="sub-btn" (click)="toogleDrop()">
          <i class='bx bx-list-ul'></i>
            <span>Cadastros</span>
          <i class="fas fa-angle-right dropdown" id="drop"></i></a>
          <div class="sub-menu" id="sub">
            <a routerLink="lista/pessoa" class="sub-item">Pessoa</a>
            <a routerLink="lista/pagamento" class="sub-item">Forma de Pagamento</a>
            <a routerLink="lista/classificacao" class="sub-item">Classificação</a>
            <a routerLink="lista/clausula" class="sub-item">Clausula</a>
            <a routerLink="lista/variavel" class="sub-item">Variavel</a>
          </div>
      </div> -->
      <div class="item">
        <a routerLink="lista/pessoa" >  
          <i class='bx bxs-user' ></i>Pessoa</a>
      </div>
      <div class="item">
        <a routerLink="lista/pagamento" >  
          <i class='bx bxs-credit-card' ></i>Pagamento</a>
      </div>
      <div class="item">
        <a routerLink="lista/classificacao" >  
          <i class='bx bx-spreadsheet'></i>Classificação</a>
      </div>
      <div class="item">
        <a routerLink="lista/clausula" >  
          <i class='bx bxs-notepad'></i>Clausula</a>
      </div>
      <div class="item">
        <a routerLink="lista/variavel" >  
          <i class='bx bx-bookmark'></i>Variavel</a>
      </div>
      <div class="item">
        <a routerLink="lista/modelo" >  
          <i class='bx bx-cube'></i>Modelo</a>
      </div>
      <div class="item">
        <a routerLink="lista/documento" >  
          <i class='bx bxs-file-doc' ></i>Documento</a>
      </div>

    </div>  

  </mat-drawer>
</mat-drawer-container>

