<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <img src="../assets/icon/lincar.jpg" class="example-header-image"/>
      </div>
      <mat-card-title>Cadastro de Pessoa</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
  
      <form class="example-form">
  
        <div class="row">
        
          <mat-form-field  class="example-full-width" appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Digite o nome">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
    
          <mat-form-field class="example-width" appearance="outline">
            <mat-label>Tipo de Cliente</mat-label>
            <mat-select>
              <mat-option value="option1">Cliente</mat-option>
              <mat-option value="option3">Fornecedor</mat-option>
            </mat-select>
          </mat-form-field>
    
          <mat-form-field  class="example-width" appearance="outline">
            <mat-label>CPF / CNPJ</mat-label>
            <input matInput placeholder="Digite o CPF ou CNPJ">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
    
    
          <mat-form-field  class="example-width" appearance="outline">
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="Digite o Contato">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
     
          <mat-form-field  class="custom-width" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Digite o E-mail">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
    
        </div>
    
        <div class="row">
          <mat-form-field  class="example-width" appearance="outline">
            <mat-label>Pais</mat-label>
            <mat-select>
              <mat-option value="option1">Brasil</mat-option>
              <mat-option value="option3">Japao</mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field  class="example-width" appearance="outline">
            <mat-label>UF</mat-label>
            <mat-select>
              <mat-option value="option1">CE</mat-option>
              <mat-option value="option3">SP</mat-option>
            </mat-select>
          </mat-form-field>
    
          <mat-form-field  class="example-width" appearance="outline">
            <mat-label>Cidade</mat-label>
            <mat-select>
              <mat-option value="option1">Fortaleza</mat-option>
              <mat-option value="option3">Horizonte</mat-option>
            </mat-select>
          </mat-form-field>
    
          <mat-form-field  class="custom-width" appearance="outline">
            <mat-label>Logradouro</mat-label>
            <input matInput placeholder="Digite o Endereço">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
    
        </div>
        
        <div class="row">
    
          <mat-form-field class="example-width" appearance="outline">
            <mat-label>Bairro</mat-label>
            <input matInput placeholder="Digite o Bairro">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
    
          <mat-form-field class="example-width" appearance="outline">
            <mat-label>Numero</mat-label>
            <input matInput placeholder="Digite o Numero ">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
    
          <mat-form-field class="example-medio-width" appearance="outline">
            <mat-label>Complemento</mat-label>
            <input matInput placeholder="Informe o complemento">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>
    
      </form>
  
  
  
    </mat-card-content>
  
    <mat-card-actions>
      <button mat-raised-button id="confirm" >Cadastrar</button>
      <button mat-raised-button id="cancel" >Cancelar</button>
    </mat-card-actions>
  
  </mat-card> 