<h1 mat-dialog-title>Inclusão de Paragrafo</h1>

<div class="body">
  <div class="row">
    <div class="row" style="text-align: center;">
      <button mat-button matTooltip="Inclusão de Variavel"><i class="fas fa-underline"></i></button>
    </div>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Parágrafo</mat-label>
      <textarea [(ngModel)]="data.paragrafo" matInput
        placeholder="Insira os dados do paragrafo">{{data.paragrafo}}</textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-width">
      <mat-label>Ordem de Exibição</mat-label>
      <input matInput  [(ngModel)]="data.ordem" placeholder="Insira a Ordem de Exibição do Paragrafo">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button id="confirm" [mat-dialog-close]="data">Gravar</button>
  <button mat-button id="cancel" (click)="onNoClick()">Cancaler</button>
</div>