textarea{
    height: 250px;
    overflow: hidden !important;
}


mat-dialog-actions{
    border: 1px solid black;
}

mat-dialog-content{
    border: 1px solid black;
    overflow: hidden !important;
}


.body{
  height: 80%;
}