.example-container {
    position: relative;
    padding: 1%;
  }
  
  .example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 500px;
    overflow: auto;
  }

  table {
    width: 100%;
  }


table th{
    font-size: 20px;
    font-style: normal ;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
   background: rgba(22, 149, 158, 0.09);
}

.row{
  margin-top: 15px;
}