<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar>
      <img src="../assets/icon/lincar.jpg" class="example-header-image"/>
    </div>
    <mat-card-title>Cadastro de Modelo</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="example-container ">

      <div class="example-table-container mat-elevation-z1">
    
        <table mat-table [dataSource]="dataSource">
    
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
          </ng-container>
        
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element">{{element.nome}}</td>
          </ng-container>
        
        
          <ng-container matColumnDef="acao">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-button (click)="editarposicao(element)"  matTooltip="Editar Cadastro"><i class="fas fa-pen"></i></button>
              <button mat-button (click)="copiarposicao(element)"  matTooltip="Copiar Cadastro"><i class="fas fa-copy"></i></button>
              <button mat-button (click)="excluirposicao(element)" matTooltip="Deletar Cadastro"><i class="fas fa-trash"></i></button>
            </td>
          </ng-container>
    <!--     
          <ng-container matColumnDef="disclaimer">
            <td mat-footer-cell *matFooterCellDef colspan="2">
              Please note that the cost of items displayed are completely and totally made up.
            </td>
          </ng-container> -->
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row (click)="clickedRows.add(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
          <!-- <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"></tr> -->
        
        
        
        
        </table>
      </div>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button id="confirm" (click)="CadastrarNovo()">Novo</button>
    <button mat-raised-button id="cancel" (click)="exit()" >Sair</button>
  </mat-card-actions>

</mat-card>

