<div class="row" *ngIf="tipo == 1">
  <mat-form-field appearance="outline" class="textarea">
    <mat-label>Textarea</mat-label>
    <textarea matInput>{{paragrafo}}</textarea>
  </mat-form-field>
</div>

<div class="row" *ngIf="tipo == 2">

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Painel de Clausula
        </mat-panel-title>
        <mat-panel-description>
          Visualização {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>


      <mat-card class="example-card">

        <mat-card-content>

          <form class="example-form">

            <div class="row">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Clausula</mat-label>
                <input matInput placeholder="insira o Titulo" value="{{clausula.Titulo}}">
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Capute</mat-label>
                <input matInput placeholder="Insira o Capute da Clausula" value="{{clausula.Caput}}">
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Alineas</mat-label>
                <input matInput placeholder="Insira a Alinea da Clausula" value="{{clausula.Alineas}}">
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Rotulo</mat-label>
                <input matInput placeholder="Insira a Nome do Rotulo" value="{{clausula.Rotulo}}">
              </mat-form-field>
            </div>

            <div class="row body">
              <div class="open-modal">
                <button mat-raised-button id="confirm" (click)="openDialog()" matTooltip="Cadstramento de paragrafo "><i
                    class="fas fa-plus"></i></button>
              </div>

              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Parágrafos
                    </mat-panel-title>
                    <mat-panel-description>
                      Visualização {{panelOpenState ? 'aberta' : 'fechada'}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div ngClass="{'div-paragrafo-scroll': clausula.arrayParagrafo.length > 0}">
                    <div *ngFor="let paragrafo of clausula.arrayParagrafo ; let i = index">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Parágrafo</mat-label>
                        <textarea matInput placeholder="Insira os dados do paragrafo" disabled>{{paragrafo.descricao}}</textarea>
                      </mat-form-field>
                      <button mat-icon-button (click)="editeParagrafo(i)">
                        <mat-icon>create</mat-icon>
                      </button>
                      <button mat-icon-button (click)="removerParagrafo(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button mat-icon-button (click)="CopiarParagrafo(i)">
                        <mat-icon>file_copy</mat-icon>
                      </button>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>

          </form>

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button id="confirm">Cadastrar</button>
          <button mat-raised-button id="cancel">Cancelar</button>
        </mat-card-actions>
      </mat-card>

    </mat-expansion-panel>
  </mat-accordion>



</div>

<div class="row " *ngIf="tipo == 3">

</div>