<h1 mat-dialog-title>Inclusão de Clausula</h1>

<div class="body">
  <div class="row">
    <mat-form-field class="example-medio-width" appearance="outline">
      <mat-label>Choose an option</mat-label>
      <mat-select [formControl]="toppings" multiple>
        <mat-select-trigger>
          <span *ngIf="toppings.value?.length >= 1" class="example-additional-selection">
            Clausulas Escolhidas (+{{toppings.value.length}} {{toppings.value?.length === 2 ? 'Clausulas' :
            'Clausula'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let clausulas of arrayClausula" [value]="clausulas">{{clausulas.Nome}}</mat-option>
      </mat-select>


    </mat-form-field>
    <button mat-button (click)="incluirclausula(toppings.value)">
      <mat-icon>add_box</mat-icon>
    </button>

  </div>
  <!-- <div class="row">
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option *ngFor="let clasula of arraysubclausula; let i =index">
        {{clasula.Nome}}<button mat-button (click)="removerClausula(i)"><i class="fas fa-trash"></i></button>
      </mat-list-option>
    </mat-selection-list>
  </div> -->


</div>

<div mat-dialog-actions>
  <button mat-raised-button id="confirm" [mat-dialog-close]="data">Gravar</button>
  <button mat-raised-button id="cancel" (click)="onNoClick()">Cancaler</button>

</div>