/* You can add global styles to this file, and also import other style files */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //font-family: "Seagoe UI",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // font-family: Arial, Helvetica, sans-serif;
    // font-size: 12px;
    //font-weight: bold;
}

html, body { 
    height: 100%; 
}

.example-full-width{
    width: 100%;
}

.example-medio-width{
    width: 50%;
    margin-right: 20px;
}

.example-width{ 
    width: 20%;
    margin-right: 20px;
}


#cancel:hover{
    background: rgb(245, 139, 139);
}

#confirm:hover{
    background: rgb(139, 245, 183);
}
.example-header-image {
    position: absolute;
    width: inherit;
    border-radius: 13%;
  }
  

  mat-expansion-panel-header, mat-expansion-panel, mat-accordion{
    background: #8fcee9;
  }
