<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <img src="../assets/icon/lincar.jpg" class="example-header-image"/>
      </div>
      <mat-card-title>Formas de Pagamento</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
  
      <form class="example-form">
  
        <div class="row">
        
          <mat-form-field  class="example-medio-width" appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Digite o nome">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
    
    
          <mat-form-field  class="example-width" appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select>
                <mat-option value="option1">Bancario</mat-option>
                <mat-option value="option3">Outras formas</mat-option>
              </mat-select>
            </mat-form-field>
    
        </div>
    
        <div class="row">
          <mat-form-field  class="example-width" appearance="outline">
            <mat-label>Agencia</mat-label>
            <input matInput placeholder="Digite a Agencia">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          
          <mat-form-field  class="example-width" appearance="outline">
            <mat-label>Conta</mat-label>
            <input matInput placeholder="Digite a Conta">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
    
          <mat-form-field  class="example-width" appearance="outline">
            <mat-label>Banco</mat-label>
            <input matInput placeholder="Nome do Banco">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
    
          <mat-form-field  class="custom-width" appearance="outline">
            <mat-label>Observações</mat-label>
            <input matInput placeholder="Digite alguma observação">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
    
        </div>
    
      </form>
  
  
  
    </mat-card-content>
  
    <mat-card-actions>
      <button mat-raised-button id="confirm">Cadastrar</button>
      <button mat-raised-button id="cancel" >Cancelar</button>
    </mat-card-actions>
  
  </mat-card> 