.container {
  //border: 1px solid red;
  position: absolute;
  height: 100vh;
  left: 240px;
  right: 0;
  padding: 8%;
  padding-left: 5%;
  }


 .body{
  position: fixed;
 // border: 1px solid orange;
  //background: yellow;
  //border: 1px solid black; 
  height: auto;
  width: 70%;
  height: 800px;
  overflow:auto;

}

.flex-box{
//  border: 1px solid black;   
}
