<ng-container>

    <mat-sidenav-container class="container">
        <app-nav></app-nav>
        <div class="body">          
            <div class="flex-box">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-container>

</ng-container>